		<footer id="itemPagination">
			<span><%- ic -%> results</span>
			<label for="itemPage">
				<input type="number" id="itemPage" max="<%- p.pages -%>" min="1" value="<%- p.page -%>"> /<%- p.pages -%>
			</label>
			<ul>
				<li><a id="paginationPrev">prev</a></li>
				<li><a id="paginationNext">next</a></li>
			</ul>
		</footer>

