html {
	font: 18px/1.4 sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	margin: 0 auto;
	max-width: 40rem;
}

main {
	flex-grow: 1;
}

footer {
	margin-top: 5rem;
}

h1, h2, h3, p, ul, form {
	padding: 0;
	margin: 0.25rem 0;
}

button, input[type=submit] {
	border: none;
	border-radius: 1rem;
	padding: 0.25rem 1rem;
	background: #000;
	color: #FFF;
	font-size: inherit;
}

input[type=text],
input[type=number] {
	border-radius: 1rem;
	padding: 0.25rem 1rem;
	border: 1px #000 solid;
	font-size: inherit;
}

*:disabled {
	color: #999;
}

li {
	list-style: none;
	display: inline;
	padding-right: 0.5rem;
}

a {
	color: #999;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.secondary {
	font-size: 0.75rem;
}

#search {
	display: flex;
	flex-flow: row;
}

#search > input[type=text] {
	flex-grow: 1;
	margin-right: 0.5rem;
}

#itemPagination {
	text-align: right;
}

#itemPagination > ul {
	display: inline-block;
	margin-left: 1rem;
}

#itemPage {
	width: 2rem;
}
