/* -- Imports -- */

@import url("https://indestructibletype.com/fonts/Jost.css");

/* -- Global variables -- */

:root {
	// Colours
	--bg: #FFF;
	--sec-bg: #EEE;
	--alt-bg: #222;
	--fg: #000;
	--sec-fg: #FFF;
	--alt-fg: #5AAFBE;
	--alt-fg-glow: rgba(90, 175, 190, 1);
	--shadow: rgba(0,0,0,0.4);

	// Font
	--family: "Jost", Futura, "Century Gothic", Helvetica, sans-serif;
	--sma-fsize: 10px;
	--fsize: 13px;
	--big-fsize: 15px;
}

/* -- Mixins -- */

@mixin mainsection {	
	box-shadow: 1px 1px 2px var(--shadow);
	margin: 1rem 10%;
	padding: 2rem 1rem;
	background-color: var(--bg);
	width: 80%;
	font-size: var(--big-fsize);
}

@mixin button {
	background: var(--alt-bg);
	border-radius: 20px;
	border: none;
	color: var(--sec-fg);
	height: 2rem;
	width: 4rem;
	text-transform: uppercase;
	font-weight: 600;
	outline: none;
	font-size: var(--fsize);

	&:hover, &:focus {
		text-decoration: underline;
	}
}

@mixin onelinetext {
	outline: none;
	background: var(--bg);
	border-radius: 20px;
	border: 1px solid var(--alt-fg);
	width: calc(100% - 7rem);
	height: 1rem;
	padding: 0.5rem 1rem;
	transition: box-shadow 0.10s ease-in-out;
	font-size: var(--fsize);

	&:invalid {
		box-shadow: none;
	}
	
	&:active, &:focus {
		border: 1px solid #5aafbe;
		box-shadow: 0 0 2px var(--alt-fg-glow);
	}
}

@mixin preicon {
	padding: 0 0.2rem;
	width: 1rem;
	height: 1rem;
	display: inline-block;
}

@mixin postprevicon {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(-30%,30%);
	width: 2rem;
}

/* -- Styles -- */
/* - Overall - */

* { // Unsetting normal margins and padding
	margin: 0;
	padding: 0;
}

html,
body { // Makes page span over all the window
	width: 100%;
	height: 100%;
}

html {
	background-color: var(--sec-bg);
	color: var(--fg);
	font: {
		weight: 400; // The normal weight for Jost
		size: var(--fsize);
		family: var(--family);
	}
}

body {
	display: flex; // Used to make footer span to the bottom of the page
	flex-direction: column;
}

a {
	color: var(--alt-fg);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.smallLink {
	font-size: var(--sma-fsize);
}

h1, h2, h3 {
	text-transform: uppercase;
}
	
ul {
	list-style: none;
}

form input {
	font-family: var(--family); // Needed to replace browser font
	
	&[type="submit"] {
		@include button;
	}

	&[type="text"] {
		@include onelinetext;
	}
}

.rmade:before {
	@include preicon;
	content: url("/content/icons/pencil-alt.svg");
}

.rdown:before {
	@include preicon;
	content: url("/content/icons/download.svg");
}

.prrefmap:after {
	@include postprevicon;
	content: url("/content/icons/atlas.svg");
}
	
/* - Header - */

header {
	height: 6rem;
	background: var(--alt-bg);
	
	nav {
		position: absolute;
		display: inline-block;
		top: 3rem;
		right: 1rem;
		transform: translateY(-50%);

		ul li {
			display: inline;
		
			> a {
				color: var(--sec-fg); // Changes font colour to white
				font-weight: 600; // Makes the font bold
				text-transform: uppercase;
			}
			
			&:not(:last-child) {
				padding-right: 1rem;
			}
		}
	}
}

#logoLink {
	display: inline-block;
	padding: 1em;
	
	svg {
		display: block;
		height: 4rem;

		#outline {
			fill: none;
			stroke: var(--sec-fg);
			stroke-width: 2px;
		}

		*:not(#outline) {
			fill: var(--sec-fg);
			stroke: none;

			&:not(#ameri) {
				opacity: 50%; // Makes all other-sided continents grey
			}
		}
	}
}

/* - Cards - */

.cardView {
	display: grid;
	grid: {	// Forces cards into two columns with a 1rem gap
		template-columns: repeat(2, 1fr); 	
		column-gap: 1rem;
	}
	margin: 0.5rem 2.5%;
}

.card {
	background: var(--bg);
	display: inline-block;
	padding: 1rem;
	box-shadow: 1px 1px 2px var(--shadow);	
}

.cardPreview {
	padding-right: 1rem;
	width: 9rem;
	height: 6rem;
	float: left; // Forces the image to the left
	position: relative;
	
	> img {
		width: inherit;
		height: inherit;
		object: { // Makes images center onto the given space
			fit: cover;
			position: center;
		}
	}

	> svg {
		display: block;
		width: 6rem;
		height: 6rem;
		margin: 0 auto;
	}
}

.cardDesc > li {
	display: inline;
}


/* - Homepage - */

#homeMain {
	@include mainsection;
	
	> p {
		padding-bottom: 1rem; // To seperate the search bar below the text
	}
}

.home > :not(.cardView) {
	margin: 0 5%; // Spaces out titles and see more links
}

/* - Search - */

#searchMain {
	@include mainsection;
}

/* - Footer - */

footer {
	background-color: var(--alt-bg);
	flex-grow: 1;
	color: var(--sec-fg);
	display: grid;
	grid: {
		template-columns: repeat(2, 1fr);
		column-gap: 1rem;
	}
	
	> div {
		padding: 1rem;		
	}
}

/* -- Mobile -- */

@media only screen and (max-width: 650px){
	header {
		height: unset;

		nav {
			display: block;
			text-align: center;
			padding: 0.5rem;
			position: unset;
			right: unset;
			top: unset;
			transform: unset;
		}
	}

	#logoLink {
		display: block;
		height: 4rem;

		svg {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	#homeMain, #searchMain {
		margin: 0 0 1rem 0;
		padding: 1rem;
		width: unset;
	}

	.cardView {
		display: block;
		margin: 0;
	}

	.card {
		width: calc(100% - 2rem);
		margin: 0 0 1rem 0;
	}

	footer {
		display: block;
	}
}
